﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QuizRally.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="geolocation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GeoLocation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pois">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Points of Interests
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rallylist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rallies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="join-rally">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Join Rally
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
