﻿@page "/geolocation"
@inject IMarkerFactory MarkerFactory
@inject ILogger<GeoLocation> logger
@inject IGeolocationService GeolocationService

<h3>Location</h3>
<Map @ref="mapRef" MapOptions="@mapOptions"></Map>
<style>
    #mapId {
        height: 400px;
    }
</style>

@if (_position is null)
{
    <span>Nur Gedult junger Padawan</span>
}
else
{
    <span class="pe-1">
        <code>
            Longitude: @(_position.Coords.Longitude)
            Latitude: @(_position.Coords.Latitude)
            @osmUrl
        </code>

    </span>
}

@code {

    GeolocationPosition? _position;
    private Map mapRef;
    string osmUrl;

    private MapOptions mapOptions = new()
    {
        DivId = "mapId",
        Zoom = 13,
        Center = new LatLng(50.279133, 18.685578),
        UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        SubOptions = new MapSubOptions
        {
            Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
            TileSize = 512,
            ZoomOffset = -1,
            MaxZoom = 19,
        }
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GeolocationService.GetCurrentPositionAsync(
            this,
            nameof(OnCoordinatesPermitted),
            nameof(OnErrorRequestingCoordinates));
    }

    private async Task UpdateMap(GeolocationPosition position)
    {
        logger.LogInformation("called UpdateMap");

        if (_position is not null)
        {
            logger.LogInformation("refreshing map");
            var pos = new LatLng(Convert.ToDouble(position.Coords.Latitude), Convert.ToDouble(position.Coords.Longitude));

            await mapRef.SetView(pos);
            // mapOptions.Center = pos;
            osmUrl = "https://www.openstreetmap.org/?mlat=" + pos.Lat + "&mlon=" + pos.Lng + "#map=17/" + pos.Lat + "/" + pos.Lng;
            
            await MarkerFactory.CreateAndAddToMap(pos, mapRef);
            logger.LogInformation("placed marker");
        }
    }

    [JSInvokable]
    public async Task OnCoordinatesPermitted(GeolocationPosition position)
    {
        logger.LogInformation("in OnPositionReceived");
        logger.LogInformation(position.Coords.Latitude + " " + position.Coords.Longitude);
        _position = position;
        await UpdateMap(position);
        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public async Task OnErrorRequestingCoordinates(GeolocationPositionError positionError)
    {
        logger.LogError(positionError.Message);
        await InvokeAsync(StateHasChanged);
    }

}