@page "/join-rally" 
@using QuizRally.Web.Services
@using QuizRally.Web.Dtos
@using System.ComponentModel.DataAnnotations
@inject IRallyService RallyService
@inject ITeamService TeamService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject ILogger<JoinRally> Logger

<h1>Join Rally</h1>

@if (_selectedRally == null)
{
    <EditForm Model="@_form" OnSubmit="OnSubmit">
        <MudStack>
            <MudTextField Variant="Variant.Outlined" T="string" Label="Insert Join Code here" @bind-Value="_form.JoinCode"></MudTextField>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Size="Size.Large" Class="pointer">Join now</MudButton>
        </MudStack>
    </EditForm>
}

@if (_selectedRally is not null)
{
    <MudStack>
        @foreach (var team in _selectedRally.Teams)
        {
            @if (team.Name != null)
            {
                <MudPaper Class="bg-success p-3" Outlined="true" Elevation="3">
                    <MudStack Row="true">
                        <MudIcon Icon="@Icons.Material.Rounded.CheckCircle"></MudIcon><MudText>@team.Name</MudText>
                    </MudStack>
                </MudPaper>
            }
            else
            {
                <MudExpansionPanels Dense="true" DisableGutters="true" Class="my-3">
                    <MudExpansionPanel HideIcon="true" Icon="@Icons.Material.Rounded.Add" Text="Create new team">
                        <EditForm Model="@_joinTeamForm" OnSubmit="() => OnSubmitJoinTeamAsync(team)">
                            <MudStack Class="p-3">
                                <MudTextField Variant="Variant.Outlined" T="string" Label="Your team name here..." @bind-Value="_joinTeamForm.TeamName"></MudTextField>
                                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Class="pointer">Create Team</MudButton>
                            </MudStack>
                        </EditForm>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            }
        }
    </MudStack>
}

@code {
    readonly SelectRallyForm _form = new();
    readonly JoinTeamForm _joinTeamForm = new();
    private Rally? _selectedRally;

    public class SelectRallyForm
    {
        [Required]
        [StringLength(5, MinimumLength = 5)]
        public string JoinCode { get; set; } = string.Empty;
    }

    public class JoinTeamForm
    {
        [Required]
        [StringLength(20, MinimumLength = 5)]
        public string TeamName { get; set; } = string.Empty;
    }

    private async Task OnSubmit()
    {
        _selectedRally = await RallyService.GetRallyByJoinCodeAsync(_form.JoinCode);
        if (_selectedRally is null)
        {
            Snackbar.Add("Rally Join Code not valid!", Severity.Error);
            return;
        }
    }

    private async Task OnSubmitJoinTeamAsync(Team team)
    {
        var teamOld = await TeamService.GetTeamByIdAsync(team.Id);
        if (teamOld != null && teamOld.Name != null)
        {
            Snackbar.Add("Team already occupied!", Severity.Error);
            _selectedRally = await RallyService.GetRallyByJoinCodeAsync(_form.JoinCode);
            return;
        }

        await TeamService.JoinTeam(team.Id, _joinTeamForm.TeamName);
        team.Name = _joinTeamForm.TeamName;
        _joinTeamForm.TeamName = "";

        NavigationManager.NavigateTo($"rallies/{_selectedRally!.Id}");
    }

}
