﻿@page "/pois/{id:int}"
@using QuizRally.Web.Services
@using QuizRally.Web.Dtos.References
@inject IMarkerFactory MarkerFactory
@inject IPoiService PoiService

<h3>@PointOfInterest?.Name</h3>
@if (PointOfInterest is not null)
{
    <MudText Typo="Typo.body1">@PointOfInterest.Description</MudText>
    
}
<Map @ref="mapRef" MapOptions="@mapOptions"></Map>
<style>
    #mapId {
        height: 400px;
    }
</style>

@code {

    [Parameter]
    public int Id { get; set; }

    private PointOfInterest? PointOfInterest { get; set; }
    private Map mapRef;

    private MapOptions mapOptions = new()
    {
        DivId = "mapId",
        Zoom = 13,
        Center = new LatLng(50.279133, 18.685578),
        UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        SubOptions = new MapSubOptions
        {
            Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
            TileSize = 512,
            ZoomOffset = -1,
            MaxZoom = 19,
        }
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PointOfInterest = await PoiService.GetPoiByIdAsync(Id);
        await UpdateMap(PointOfInterest.Latitude, PointOfInterest.Longitude);
        StateHasChanged();
    }

    private async Task UpdateMap(double lat, double lon)
    {
        var pos = new LatLng(lat, lon);
        await mapRef.SetView(pos);
    // mapOptions.Center = pos;
        await MarkerFactory.CreateAndAddToMap(pos, mapRef);
    }

}
