﻿@page "/pois"
@using Supabase
@using QuizRally.Web.Dtos.References
@inject Client Client
@inject ILogger<PoiList> Logger
@inject IMarkerFactory MarkerFactory
@inject IGeolocationService GeolocationService
<h3>PointOfInterests</h3>

@if (PointOfInterests.Count > 0)
{
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var poi in PointOfInterests)
        {
            <tr>
                <td>
                    <a href="pois/@poi.Id">@poi.Id</a>
                </td>
                <td>@poi.Name</td>
                <td>@poi.Description</td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}
<br/>
<Map @ref="mapRef" MapOptions="@mapOptions"></Map>
<style>
    #mapId {
        height: 400px;
    }
</style>


@code {
    GeolocationPosition? _position;
    private List<PointOfInterest> PointOfInterests { get; set; } = new();
    private Map mapRef;

    private MapOptions mapOptions = new()
    {
        DivId = "mapId",
        Zoom = 13,
        Center = new LatLng(50.279133, 18.685578),
        UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        SubOptions = new MapSubOptions
        {
            Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
            TileSize = 512,
            ZoomOffset = -1,
            MaxZoom = 15,
        }
    };


    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("in OnInitializedAsync");
        await GetPoIsAsync();
        foreach (var poi in PointOfInterests)
        {
            await UpdateMap(poi.Latitude, poi.Longitude);
        }
        await GeolocationService.GetCurrentPositionAsync(
            this,
            nameof(OnCoordinatesPermitted),
            nameof(OnErrorRequestingCoordinates));
    }

    private async Task GetPoIsAsync()
    {
        Logger.LogInformation("in GetPoIsAsync");
        var modelResponse = await Client
            .From<PointOfInterest>()
            .Select("*")
            .Get();

        PointOfInterests = modelResponse.Models;
    }

    private async Task UpdateMap(double lat, double lon)
    {
        var pos = new LatLng(lat, lon);
        await mapRef.SetView(pos);
        await MarkerFactory.CreateAndAddToMap(pos, mapRef);
    }

    [JSInvokable]
    public async Task OnCoordinatesPermitted(GeolocationPosition position)
    {
        _position = position;
        await UpdateMapCenter(position);
        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public async Task OnErrorRequestingCoordinates(GeolocationPositionError positionError)
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task UpdateMapCenter(GeolocationPosition position)
    {
        if (_position is not null)
        {
            var pos = new LatLng(Convert.ToDouble(position.Coords.Latitude), Convert.ToDouble(position.Coords.Longitude));
            await mapRef.SetView(pos);
        }
    }

}
