@page "/rallylist" 
@using QuizRally.Web.Dtos
@using QuizRally.Web.Services
@inject IRallyService RallyService
@inject ILogger<RallyList> Logger

<h3>RallyList</h3>

<MudGrid>
    @foreach (var rally in Rallies)
    {
        <MudItem xs="12" md="2">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@rally.Name</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Default" Href="@($"rallies/{rally.Id}")"/>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Max Teams: @rally.Teams.Count</MudText>
                    <MudText>Free Teams: @rally.GetFreeTeamsCount()</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code {
    private List<Rally> Rallies { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Rallies = await RallyService.GetAllRalliesAsync();
    }

}
