@page "/rallies/{id:int}"
@using QuizRally.Web.Dtos
@using QuizRally.Web.Services
@inject IRallyService RallyService
<h3>Rally @Id Details</h3>
<MudLink Href="rallylist">BACK</MudLink>
<MudPaper>
    @if (Rally is not null)
    {
        <MudText>@Rally.Name</MudText>
        <MudText>@Rally.JoinCode</MudText>
        <MudText>Teams:</MudText>
        @foreach (var team in Rally.Teams)
        {
            <MudText>- @team.Name</MudText>
        }
    }
</MudPaper>


@code {
    [Parameter]
    public int Id { get; set; }
    
    private Rally? Rally { get; set; }
   
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Rally = await RallyService.GetRallyByIdAsync(Id);
    }
}
